@{
    ViewData["Title"] = "RETO PROGRAMACION | SALONES EMPRESARIALES XYZ";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <p>
        Actividad 5 y 6 <br />

        Actividad 5 Propuesta De Aplicativo Con Arquitectura <br />
        Actividad 6 Aplicativo de arquitectura de software <br />

        ''SALONES EMPRESARIALES IBERO''<br /><br />
        CRUD Clientes <br />
        CRUD Salones <br />
        Vista sql en base de datos<br />
        Procedimiento almacenado 1+ <br />
        Servicio Web: Api Rest <br />
        Lenguaje de programación <br />
        Servidor: .NET Core 5 C# <br />
        Cliente: MVC .NET Core 5<br />
        Base de datos: (SQL Server)<br />
        <br />
        <br />

        Ingeniería de software, el arte de Crear! M.B.C.
        <br />
        <br />

    </p>
</div>
