@{
    ViewData["Title"] = "RETO PROGRAMACION | SALONES EMPRESARIALES XYZ";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">Mauricio Bello</h1>
    <p>
        RETO PROGRAMACION <br />
        ''SALONES EMPRESARIALES XYZ''<br /><br />
        Crear y actualizar clientes <br />
        Crear y eliminar una solicitud de salones <br />
        Vista en base de datos y web <br />
        Procedimiento almacenado 1+ <br />
        Servicio Web en Soap o un Api Rest <br />
        lenguaje de programación ASP .NET Framework o .NET Core C#
        Web Forms o MVC. <br />
        base de datos (SQL Server)<br />
        <br />
        <br />

        Ingeniería de software, el arte del futuro! M.B.C.      
        <br />
        <br />

        Marzo 13  2022.
    </p>
</div>
