@{
    ViewData["Title"] = "Sistemas Infinitos";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">Sistemas Infinitos</h1>
    <p>
        www.sistemasinfinitos.com <br />
        Curso 1 <br />
        Instalación MongoDB <br />
        Comandos básicos MongoDB <br />
        Diseño modelo de base de datos MongoDB <br />
        Diseño y operaciones CRUD C#  ASP.NET 5 Web API  en Bases de datos NoSQL <br />
        MongoDB - Replica Set <br />
        MongoDB - Sharding <br />

        <br />
        <br />

        Ingeniería de Software.        <br />
        <br />
        Mauricio Bello       <br />
        <br />
        Febrero 28  2022.
    </p>
</div>
