@model SalonesWEB.Models.Persona.PersonasModel

@{
    ViewData["Title"] = "Gestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gestion</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<nav class="navbar navbar-expand-sm navbar-light bg-light" style="margin-top:67px;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#home1">Gestión Clientes</a>
            </li>

        </ul>
    </div>
</nav>
<div class="card o-hidden border-0 shadow-lg my-n2">
    <div class="tab-content">
        <br />
        @* Persona *@
        <div class="tab-pane active" id="home1">
            <form class="user" style="margin:2%">
                <div class="form-group row">
                    <div class="col-sm-3 mb-3 mb-sm-3" hidden>
                        <input type="number" class="form-control" id="id" name="id" placeholder="Id" required readonly>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="primerNombre"><span style="color:red">*</span>Primer Nombre</label>
                        <input type="text" class="form-control" id="primerNombre" name="primerNombre" placeholder="Primer Nombre">
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="segundoNombre"><span style="color:red">*</span>Segundo Nombre</label>
                        <input type="text" class="form-control" id="segundoNombre" name="segundoNombre" placeholder="Segundo Nombr">
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="primerApellido"><span style="color:red">*</span>Primer Apellido</label>
                        <input type="text" class="form-control" id="primerApellido" name="primerApellido" placeholder="Primer Apellido">
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="segundoApellido"><span style="color:red">*</span>Segundo Apellido</label>
                        <input type="text" class="form-control" id="segundoApellido" name="segundoApellido" placeholder="Segundo Apellido">
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="identificacion">Número Identidad</label>
                        <input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="Número Identificacion" required>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono-Celular" required>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="correo">Correo</label>
                        <input type="email" class="form-control" id="correo" name="correo" placeholder="Mail" required>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="edad">Edad</label>
                        <select id="edad" name="edad" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione Edad</option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="pais">Pais</label>
                        <select id="pais" name="pais" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Pais </option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="departamento">Departamento</label>
                        <select id="departamento" name="departamento" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Departamento </option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="idCiudad">Ciudad</label>
                        <select id="idCiudad" name="idCiudad" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Ciudad</option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="btnCrear">.</label>
                        <button type="button" class="form-control btn-secondary" id="btnCrear" placeholder="Guardar" style="background: #4e73df;font-size:15px;color:white;">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var api = localStorage.getItem("api");
    var update = false;
    var id = "";
    var pais = "";
    var departamento = "";
    var idCiudad = "";
    var edad = "";

    $(document).ready(function () {
        $(".collapse-inner").select2();
        getPersona();
        DropListPais();
    });

    $("#btnCrear").click(function () {
        idCiudad = $("#idCiudad").val();
        debugger
        var data = {
            id: id,
            primerNombre: $("#primerNombre").val(),
            segundoNombre: $("#segundoNombre").val(),
            primerApellido: $("#primerApellido").val(),
            segundoApellido: $("#segundoApellido").val(),
            identificacion: $("#identificacion").val(),
            telefono: $("#telefono").val(),
            correo: $("#correo").val(),
            edad: $("#edad").val(),
            idCiudad: idCiudad
        }
        var entidad = JSON.stringify(data);
        if (update == false) {
            $.ajax({
                url: `${api}/api/Personas/CreatePersona`,
                //method: 'Post',
                'type': 'POST',
                data: entidad,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                traditional: true,
                async: true,
                dataType: "JSON",
                success: function (response) {
                    debugger
                    if (response.ok) {
                        toastr.success(response.mensaje);
                    } else {
                        toastr.warning(response.mensaje);
                    }
                },
                error: function (data) {
                   toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else if (id != "" && id != undefined && id != NaN) {
            $.ajax({
                url: `${api}/api/Personas/ActualizarPersona`,
                'type': 'PUT',
                data: entidad,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                traditional: true,
                async: true,
                dataType: "JSON",
                success: function (ok) {

                    if (ok) {
                        toastr.success("success");
                    } else {
                        toastr.warning(ok.mensaje);
                    }
                },
                complete: function () {

                },
                error: function (data) {
                    toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else {
            toastr.warning("selecciona una accion!");
        }
    });

    function getPersona() {
        debugger
        id= '@ViewBag.idString';
        if (id != "" && id != undefined && id != NaN) {
            var uri = `${api}/api/Personas/GetPersona`;
            var url = uri + '?' + $.param({ "buscar": "","id": id });
            $.ajax({
                url: url,
                type: 'get',
                success: function (response) {
                    debugger
                    $("#id").val("");
                    id = "";
                    $("#primerNombre").val();
                    $("#segundoNombre").val();
                    $("#primerApellido").val();
                    $("#segundoApellido").val();
                    $("#identificacion").val();
                    $("#telefono").val();
                    $("#correo").val();
                    $("#edad").val();
                    idCiudad = "";

                    if (response.data.ok) {
                        toastr.success(data.response.message);
                        update = true;

                        id = response.data.persona.id;
                        $("#id").val(data.deportista.id);
                        $("#primerNombre").val(response.data.persona.primerNombre);
                        $("#segundoNombre").val(response.data.persona.segundoNombre);
                        $("#primerApellido").val(response.data.persona.primerApellido);
                        $("#segundoApellido").val(response.data.persona.segundoApellido);
                        $("#identificacion").val(response.data.persona.identificacion);
                        $("#telefono").val(response.data.persona.telefono);
                        $("#correo").val(response.data.persona.correo);
                        $("#edad").val(response.data.persona.edad);
                        $("#idCiudad").val(response.data.persona.idCiudad);
                        idCiudad = response.data.persona.idCiudad;

                    } else {
                        toastr.warning("No pudimos procesar su Solicitud!");
                    };
                },
                error: function (jQXHR) {
                   toastr.error('error, No pudimos procesar su Solicitud!');
                }
            });
        }
    };

    function DropListPais() {
        $.ajax({
            url: `${api}/api/Comun/GetDropListPaises`,
            data: {},
            method: 'get',
            traditional: true,
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Authorization': 'Bearer '
                    + localStorage.getItem("accessToken")
            },
            success: function (data) {
                $('#pais').empty();
                if (data.ok) {
                    $(data.paises).each(function (i) {
                        $('#pais').append($('<option>', {
                            value: data.paises[i].id,
                            text: data.paises[i].paisNombre,
                        }));
                    });
                    if (pais != "" || data.paises.length == 1) {
                        $("#pais").val(data.paises[0].id).trigger('change.select2');
                        pais = data.paises[0].id;
                        DropListDepartamentos();
                    }
                } else {
                    toastr.warning(data.mensaje);
                }
            },
            error: function (data) {
                toastr.error("error!");
            }
        });
    }

    $("#pais").change(function ()
    {
        DropListDepartamentos()
    });

    $("#departamento").change(function ()
    {
        DropListCiudades()
    });

    function DropListDepartamentos() {
        debugger
        if (pais != "" && pais != undefined) {
            $.ajax({
                url: `${api}/api/Comun/GetDropListDepartamentos`,
                data:
                {
                    buscar: "",
                    idPais: pais
                },
                method: 'get',
                traditional: true,
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                headers: {
                    'Authorization': 'Bearer '
                        + localStorage.getItem("accessToken")
                },
                success: function (data) {
                    $('#departamento').empty();
                    debugger
                    if (data.ok) {
                        $(data.dapartamentos).each(function (i) {
                            $('#departamento').append($('<option>', {
                                value: data.dapartamentos[i].id,
                                text: data.dapartamentos[i].distritoDepartamento,
                            }));
                        });
                        debugger
                        if (data.dapartamentos.length ==1) {
                            $("#departamento").val(data.dapartamentos[0].id).trigger('change.select2');
                            departamento = data.dapartamentos[0].id;
                            DropListCiudades();
                        }
                    } else {
                        toastr.warning(data.mensaje);
                    }
                },
                error: function (data) {
                    toastr.error("error!");
                }
            });
        }
    }

    function DropListCiudades() {
        debugger
        if (departamento != "" && departamento != undefined) {
            $.ajax({
                url: `${api}/api/Comun/GetDropListCiudades`,
                data:
                {
                    buscar: "",
                    idDepartamento: departamento
                },
                method: 'get',
                traditional: true,
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                headers: {
                    'Authorization': 'Bearer '
                        + localStorage.getItem("accessToken")
                },
                success: function (data) {
                    $('#idCiudad').empty();
                    debugger
                    if (data.ok) {
                        $(data.ciudades).each(function (i) {
                            debugger
                            $('#idCiudad').append($('<option>', {
                                value: data.ciudades[i].id,
                                text: data.ciudades[i].ciudadNombre,
                            }));
                        });
                        if (data.ciudades.length == 1) {
                            $("#idCiudad").val(data.ciudades[0].id).trigger('change.select2');
                            idCiudad = data.ciudades[0].id;
                        }
                    } else {
                        toastr.warning(data.mensaje);
                    }
                },
                error: function (data) {
                    toastr.error("error!");
                }
            });
        }
    }

</script>
